In [1]:
#Importar las Librerías. 
#Se importaron las siguientes librerías.
import pandas as pd
import re 
import json
import ast

In [2]:
#Cargar el Conjunto de Datos 
df = pd.read_csv("movies_dataset.csv")
df

C:\Users\magam\AppData\Local\Temp\ipykernel_22032\1229557161.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
#Desanidar los campos “id” y “name” de la columna “belongs_to_collection” 
#y se crearon nuevas columnas “id_coleccion” y “nombre_coleccion”. Lo mismo se hizo para la columna “production_companies”.

busq_1 = r"'id': ([^,]*)"
df['id_coleccion'] = df['belongs_to_collection'].str.extract(busq_1, flags=re.IGNORECASE)
busq_2 = r"'name': '([^']*)"
df['nombre_coleccion'] = df['belongs_to_collection'].str.extract(busq_2, flags=re.IGNORECASE)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,id_coleccion,nombre_coleccion
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050,Grumpy Old Men Collection
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,NaN,NaN
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,NaN,NaN

In [4]:

busq_3 = r"'id': ([^}]*)"
df['id_produccion'] = df['production_companies'].str.extract(busq_3, flags=re.IGNORECASE)
busq_4= r"'name': '([^']*)"
df['nombre_produccion'] = df['production_companies'].str.extract(busq_4, flags=re.IGNORECASE)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,559,TriStar Pictures
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN,NaN,NaN,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Released,NaN,Century of Birthing,False,9.0,3.0,NaN,NaN,19653,Sine Olivia
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN,6165,American World Pictures
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Released,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,88753,Yermoliev
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Released,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
#Verificar las columnas “revenue” y “budget” para identificar valores nulos. 
#Los valores nulos en “revenue” se reemplazaron por 0. 
#Además, se eliminan filas con valores nulos en la columna “release_date”.
nulos_revenue = df["revenue"].isnull().sum()
print(nulos_revenue)

nulos_budget = df["budget"].isnull().sum()
print(nulos_budget)

6
0

In [6]:
#Reemplazar los valores nulos de la columna "revenue" por 0
df["revenue"] = df["revenue"].fillna(0)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,559,TriStar Pictures
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN,NaN,NaN,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Released,NaN,Century of Birthing,False,9.0,3.0,NaN,NaN,19653,Sine Olivia
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN,6165,American World Pictures
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Released,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,88753,Yermoliev
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Released,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
#Verificar los valores nulos de todas las columnas
df.isnull().sum().sort_values(ascending=False)

nombre_coleccion         41082
id_coleccion             40975
belongs_to_collection    40972
homepage                 37684
tagline                  25054
nombre_produccion        11939
id_produccion            11881
overview                   954
poster_path                386
runtime                    263
status                      87
release_date                87
imdb_id                     17
original_language           11
vote_count                   6
vote_average                 6
title                        6
spoken_languages             6
video                        6
popularity                   5
production_countries         3
production_companies         3
original_title               0
genres                       0
adult                        0
id                           0
budget                       0
revenue                      0
dtype: int64

In [8]:
#Eliminar los valores nulos de la columna "relase_date"
df = df.dropna(subset=["release_date"])
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,559,TriStar Pictures
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,Released,NaN,Robin Hood,False,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR)
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Released,NaN,Century of Birthing,False,9.0,3.0,NaN,NaN,19653,Sine Olivia
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN,6165,American World Pictures
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Released,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,88753,Yermoliev
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Released,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN

In [9]:
#Verificar los valores nulos de todas las columnas
df.isnull().sum().sort_values(ascending=False)

nombre_coleccion         40998
id_coleccion             40891
belongs_to_collection    40888
homepage                 37610
tagline                  24981
nombre_produccion        11857
id_produccion            11799
overview                   941
poster_path                339
runtime                    249
status                      83
imdb_id                     14
original_language           11
vote_average                 3
vote_count                   3
title                        3
video                        3
spoken_languages             3
popularity                   2
adult                        0
original_title               0
id                           0
budget                       0
genres                       0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
dtype: int64

In [10]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce').dt.strftime('%Y-%m-%d')
df['release_date']

C:\Users\magam\AppData\Local\Temp\ipykernel_22032\3015310720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce').dt.strftime('%Y-%m-%d')

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45460    1991-05-13
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45379, dtype: object

In [11]:
#Extraer el año de estreno y lo asignamos a una nueva columna
df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year.astype('Int64')
df

C:\Users\magam\AppData\Local\Temp\ipykernel_22032\3587398475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year.astype('Int64')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios,1995
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,559,TriStar Pictures,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.,1995
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,NaN,Robin Hood,False,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR),1991
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,NaN,Century of Birthing,False,9.0,3.0,NaN,NaN,19653,Sine Olivia,2011
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN,6165,American World Pictures,2003
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,88753,Yermoliev,1917
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN,2017

In [12]:
#Convertir las columnas "revenue" y "budget" a tipo numérico
df['revenue'] = pd.to_numeric(df['revenue'], errors= "coerce")
df['budget'] = pd.to_numeric(df['budget'], errors= "coerce")

#Se creo y se calculo en la columna de return el retorno de inversion
df['return'] = df.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1)
df

C:\Users\magam\AppData\Local\Temp\ipykernel_22032\3663174764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['revenue'] = pd.to_numeric(df['revenue'], errors= "coerce")
C:\Users\magam\AppData\Local\Temp\ipykernel_22032\3663174764.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget'] = pd.to_numeric(df['budget'], errors= "coerce")
C:\Users\magam\AppData\Local\Temp\ipykernel_22032\3663174764.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['return'] = df.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion,release_year,return
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios,1995,12.451801
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,NaN,NaN,559,TriStar Pictures,1995,4.043035
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.,1995,0.000000
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation,1995,5.090760
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,Robin Hood,False,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR),1991,0.000000
45462,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Century of Birthing,False,9.0,3.0,NaN,NaN,19653,Sine Olivia,2011,0.000000
45463,False,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Betrayal,False,3.8,6.0,NaN,NaN,6165,American World Pictures,2003,0.000000
45464,False,NaN,0.0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Satan Triumphant,False,0.0,0.0,NaN,NaN,88753,Yermoliev,1917,0.000000
45465,False,NaN,0.0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN,2017,0.000000

In [14]:
#Eliminar las columnas "video", "imdb_id", "adult", "original_title", "poster_path", "homepage", "belongs_to_collection", "production_companies"
eliminar_columnas = ["video", "imdb_id", "adult", "original_title", "poster_path", "homepage", "belongs_to_collection", "production_companies"]

# Eliminar columnas con drop
df2 = df.drop(columns=eliminar_columnas)

In [15]:
#visualizar las columnas completas
pd.set_option('display.max_columns', None)
df2

,budget,genres,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion,release_year,return
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios,1995,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,559,TriStar Pictures,1995,4.043035
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.,1995,0.000000
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation,1995,5.090760
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR),1991,0.000000
45462,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,NaN,NaN,19653,Sine Olivia,2011,0.000000
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,NaN,6165,American World Pictures,2003,0.000000
45464,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,NaN,NaN,88753,Yermoliev,1917,0.000000
45465,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,NaN,NaN,NaN,NaN,2017,0.000000

In [16]:
#Convertir la cadena en una lista de diccionarios
def extraer_nombres_genero(generos_str):
    try:
        generos_lista = json.loads(generos_str.replace("'", '"'))  # Reemplazar comillas simples por comillas dobles
        nombres_genero = [genero['name'] for genero in generos_lista]
        return ', '.join(nombres_genero)
    except (json.JSONDecodeError, KeyError):
        return None  # Manejar errores de formato o claves faltantes

#Aplicar la función a la columna 'genres'
df2['genres_name'] = df2['genres'].apply(extraer_nombres_genero)

print(df2['genres_name'])

0         Animation, Comedy, Family
1        Adventure, Fantasy, Family
2                   Romance, Comedy
3            Comedy, Drama, Romance
4                            Comedy
                    ...
45460        Drama, Action, Romance
45462                         Drama
45463       Action, Drama, Thriller
45464
45465
Name: genres_name, Length: 45379, dtype: object

In [17]:
#Eliminar las columnas "genres"
eliminar_genres = ["genres"]
movies= df2.drop(columns=eliminar_genres)

print(movies.shape)

(45379, 22)

In [18]:
#Verificar los "id" duplicados y los eliminamos
movies = movies.drop_duplicates(subset='id', keep='first')
movies

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion,release_year,return,genres_name
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios,1995,12.451801,"Animation, Comedy, Family"
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,559,TriStar Pictures,1995,4.043035,"Adventure, Fantasy, Family"
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.,1995,0.000000,"Romance, Comedy"
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation,1995,5.090760,"Comedy, Drama, Romance"
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions,1995,0.000000,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR),1991,0.000000,"Drama, Action, Romance"
45462,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,NaN,NaN,19653,Sine Olivia,2011,0.000000,Drama
45463,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,NaN,6165,American World Pictures,2003,0.000000,"Action, Drama, Thriller"
45464,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,NaN,NaN,88753,Yermoliev,1917,0.000000,
45465,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,NaN,NaN,NaN,NaN,2017,0.000000,

In [19]:
#cargar el dataset de Credits
credits = pd.read_csv("credits.csv")
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [20]:
#Verificar los "id" duplicados y los eliminamos
credits = credits.drop_duplicates(subset='id', keep='first')
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [21]:
#convertir la columna cast de texto a una lista de diccionarios
credits['cast'] = credits['cast'].apply(ast.literal_eval)

#definir una función para extraer los nombres de los actores
def extract_actor_names(cast_list):
    return [member['name'] for member in cast_list if 'name' in member]

#aplicar la función a la columna cast
credits['actores'] = credits['cast'].apply(extract_actor_names)

C:\Users\magam\AppData\Local\Temp\ipykernel_22032\1882508628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credits['cast'] = credits['cast'].apply(ast.literal_eval)
C:\Users\magam\AppData\Local\Temp\ipykernel_22032\1882508628.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credits['actores'] = credits['cast'].apply(extract_actor_names)

In [22]:
def safe_literal_eval(text):
    try:
        return ast.literal_eval(text)
    except (ValueError, SyntaxError):
        return []

#convertir la columna 'crew' de texto a una lista de diccionarios
credits['crew'] = credits['crew'].apply(safe_literal_eval)

#definir una función para extraer el nombre del director
def extract_director(crew_list):
    for member in crew_list:
        if isinstance(member, dict) and member.get('job') == 'Director':
            return member.get('name')
    return None

#aplicar la función a la columna 'crew'
credits['director'] = credits['crew'].apply(extract_director)

#Mostrar el DataFrame con la nueva columna
print(credits[['id', 'director']])

           id          director
0         862     John Lasseter
1        8844      Joe Johnston
2       15602     Howard Deutch
3       31357   Forest Whitaker
4       11862     Charles Shyer
...       ...               ...
45471  439050  Hamid Nematollah
45472  111109          Lav Diaz
45473   67758    Mark L. Lester
45474  227506  Yakov Protazanov
45475  461257     Daisy Asquith

[45432 rows x 2 columns]

C:\Users\magam\AppData\Local\Temp\ipykernel_22032\2831938076.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credits['crew'] = credits['crew'].apply(safe_literal_eval)
C:\Users\magam\AppData\Local\Temp\ipykernel_22032\2831938076.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credits['director'] = credits['crew'].apply(extract_director)

In [23]:
#Eliminar las columnas "cast", "crew"
eliminar_columnas2 = ["cast", "crew"]
data_credits = credits.drop(columns=eliminar_columnas2)

print(data_credits.shape)

(45432, 3)

In [24]:
#Convertir la columna 'id' a string en ambos DataFrames
movies['id'] = movies['id'].astype(str)
data_credits['id'] = data_credits['id'].astype(str)

In [25]:
#unir los dos dataset
data_fusionado = movies.merge(data_credits, how='inner', on='id')
data_fusionado

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion,release_year,return,genres_name,actores,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios,1995,12.451801,"Animation, Comedy, Family","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,559,TriStar Pictures,1995,4.043035,"Adventure, Fantasy, Family","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.,1995,0.000000,"Romance, Comedy","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation,1995,5.090760,"Comedy, Drama, Romance","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions,1995,0.000000,Comedy,"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45340,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR),1991,0.000000,"Drama, Action, Romance","[Patrick Bergin, Uma Thurman, David Morrissey,...",John Irvin
45341,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,NaN,NaN,19653,Sine Olivia,2011,0.000000,Drama,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz
45342,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,NaN,6165,American World Pictures,2003,0.000000,"Action, Drama, Thriller","[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester
45343,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,NaN,NaN,88753,Yermoliev,1917,0.000000,,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov
45344,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,NaN,NaN,NaN,NaN,2017,0.000000,,[],Daisy Asquith

In [27]:
#Crear una función para verificar si el título contiene solo caracteres alfabéticos
def filtrar_titulo(titulo):
    #Verificar si el título contiene solo letras y espacios
    return re.match("^[a-zA-Z0-9\\s\\$\\-\\#\\?\\&\\!\\ñ\\¿\\¡]*$", titulo) is not None

#Filtrar las filas donde el título de la película es válido
df_fusionado = data_fusionado[data_fusionado['title'].apply(filtrar_titulo)]

In [28]:
#Convertir todos los valores en la columna 'title' a cadenas
data_fusionado['title'] = data_fusionado['title'].astype(str)

# Filtrar las filas donde el título de la película es válido
df_fusionado = data_fusionado[data_fusionado['title'].apply(filtrar_titulo)]

In [29]:
#Eliminar las columnas "production_countries", "spoken_languages",	"status", "tagline"
eliminar_col = ["production_countries", "spoken_languages",	"status", "tagline"]
df_combinado = df_fusionado.drop(columns=eliminar_col)

In [30]:
df_combinado

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,id_coleccion,nombre_coleccion,id_produccion,nombre_produccion,release_year,return,genres_name,actores,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,10194,Toy Story Collection,3,Pixar Animation Studios,1995,12.451801,"Animation, Comedy, Family","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,NaN,NaN,559,TriStar Pictures,1995,4.043035,"Adventure, Fantasy, Family","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0,119050,Grumpy Old Men Collection,6194,Warner Bros.,1995,0.000000,"Romance, Comedy","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0,NaN,NaN,306,Twentieth Century Fox Film Corporation,1995,5.090760,"Comedy, Drama, Romance","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,96871,Father of the Bride Collection,5842,Sandollar Productions,1995,0.000000,Comedy,"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45340,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Robin Hood,5.7,26.0,NaN,NaN,7025,Westdeutscher Rundfunk (WDR),1991,0.000000,"Drama, Action, Romance","[Patrick Bergin, Uma Thurman, David Morrissey,...",John Irvin
45341,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Century of Birthing,9.0,3.0,NaN,NaN,19653,Sine Olivia,2011,0.000000,Drama,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz
45342,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,NaN,NaN,6165,American World Pictures,2003,0.000000,"Action, Drama, Thriller","[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester
45343,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Satan Triumphant,0.0,0.0,NaN,NaN,88753,Yermoliev,1917,0.000000,,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov
45344,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Queerama,0.0,0.0,NaN,NaN,NaN,NaN,2017,0.000000,,[],Daisy Asquith

In [31]:
#Guardar el dataset en un archivo csv con las transformaciones realizadas con el nombre data_transf
df_combinado.to_csv('data_transf.csv', index=False)